MOCK_DATA.csv
__pycache__/xlsx2csv.cpython-39.pyc
build/xlsx2csv/Analysis-00.toc
build/xlsx2csv/base_library.zip
build/xlsx2csv/EXE-00.toc
build/xlsx2csv/PKG-00.pkg
build/xlsx2csv/PKG-00.toc
build/xlsx2csv/PYZ-00.toc
build/xlsx2csv/PYZ-00.pyz
build/xlsx2csv/Tree-00.toc
build/xlsx2csv/Tree-01.toc
build/xlsx2csv/Tree-02.toc
build/xlsx2csv/warn-xlsx2csv.txt
build/xlsx2csv/xlsx2csv.exe.manifest
build/xlsx2csv/xref-xlsx2csv.html
dist/xlsx2csv.exe
xlsx2csv.ico
xlsx2csv.spec
